/*regles fortes pour tous les éléments*/

@font-face {
    font-family: "Space Grotesk";
    src: url("SpaceGrotesk[wght].woff2")format("woff2");
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(241, 241, 241);
    line-height: 1.3;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

h1{
    margin: 0;
}

p{
    max-width: 100%;
    height: auto;
    display: block;
}

/*header*/

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 3px;
}


.nav a{
    text-decoration: none;
    color: currentColor;
    background: rgba(255, 255, 255, 0.519);
}

.nav a span{
    display: block; 
    padding: 12px;
     
}



/****
pages projet
****/

.projet{
    background: rgb(246, 255, 0);
}

.projet h1{
    font-style: 16px;
}